{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block title %}New Server{% endblock title %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-8">
                {{ form.title|as_crispy_field }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8">
                {{ form.description|as_crispy_field }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                {{ form.url|as_crispy_field }}
            </div>
            <div class="col-2">
                {{ form.port|as_crispy_field }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4">
                {{ form.password|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.confirm_password|as_crispy_field }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-5">
                {{ form.image|as_crispy_field }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                {{ form.alt_image|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <hr>
                <button type="button" class="btn btn-danger">Cancel</button>
                <button type="submit" class="btn btn-primary" name="next">Add Server</button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}